 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/*=========================================================================================*/
/*STYLING*/
/*=========================================================================================*/

body{
  background: -webkit-radial-gradient(center, ellipse cover, #2c2e3d 0%,#000000 100%);
  background-color: #000000;
  font-family: 'Playfair Display', serif;
}


/*=========================================================================================*/
/*CAROUSEL*/
/*=========================================================================================*/
section.carousel-div{
  margin-top: -18px;
  padding-bottom: 40px;
  border-bottom: 1px solid #FFFFFF;
}
#carousel-img{
  height: 500px;
  margin:0px auto; 
}
#carousel-caption{
  background-color: black;
  border-radius: 10px;
  opacity: 0.7;
}
#mini_carousel{
  height: 300px;
  margin: 0 auto;
}

/*=========================================================================================*/
/*FORM*/
/*=========================================================================================*/
input{
  display: block;
  border-radius: 5px;
  width: 60%;
  height: 60px;
  /*margin: 20px 50px;*/
  margin: 15px auto;
  font-size: 25px;
  border: 3px solid #222222;
  background-color: black;
  padding-left: 10px;
}
textarea{
  display: block;
  border-radius: 5px;
  width: 60%;
  height: 150px;
  /*margin: 20px 50px;*/
  margin: 15px auto;
  font-size: 25px;
  border: 3px solid #222222;
  background-color: black;
  padding-left: 10px;
}
.create_account_screen {
}
.create_account_form h1{
  text-align: center;
}

/*=========================================================================================*/
/*SEARCH*/
/*=========================================================================================*/
FormGroup{
  border-radius: none;
}
.search_bar{
  background-color: #222222;
  color: #FFFFFF;
  position: absolute;
  right: 925px;
  top: 0px;
  display: inline-block;
  height: 25px;
  width: 400px;

}

/*=========================================================================================*/
/*BUTTONS*/
/*=========================================================================================*/
.register-button{
  height: 50px;
  width: 325px;
  font-size: 20px;
  background-color: #222222;
  color: white;
  border-radius: none;
}

.login-button{
  height: 50px;
  width: 200px;
  font-size: 20px;
  background-color: #222222;
  color: white;
  border-radius: none;
}
.search_button{
  position: absolute;
  right: 855px;
  top: 15px;
  height: 25px;
  width: 75px;
  font-size: 10px;
  background-color: #222222;
  color: white;
  border-radius: none;
}
#navbar_register_link{
  position: absolute;
  top:-30px;
  right: 125px;
}

#navbar_login_link{
  position: absolute;
  top:-30px;
  right: 50px;
}

#navbar_logout_link{
  position: absolute;
  top:-30px;
  right: 50px;
}




/*=========================================================================================*/
/*FOOTER*/
/*=========================================================================================*/
footer{
  position: relative;
  bottom: -63px;
  width:100%;
  height:25px;
}
footer h3{
  color: white;
  text-align: center;
}

/*=========================================================================================*/
/*VIDEO*/
/*=========================================================================================*/

video {
  height: 500px;
  width: 900px;
  
}

/*=========================================================================================*/
/*VIEWING*/
/*=========================================================================================*/
video.viewing_video{
  width: 100%;  
}
aside.viewing_info{
  height:350px;
  width:100%;
  background-color: #222222;
  padding: 50px 20px;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);

}
section#poster_info{
  display:inline-block;
  margin-right: 20px;
  float:left;
}
section#movie_info{ 
  display: inline;
  height:350px;
  width:100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: black;
  
}

/*=========================================================================================*/
/*LANDING*/
/*=========================================================================================*/
section.landing_page h2{
  text-align: center;
  color: #FFFFFF;
}
section.landing_page_movieInfo{
  display: inline-block;
  margin: 50px 25px;
}

#landing_page_movieInfo_image{
  height: 250px;
  width: 300px;
}

/*=========================================================================================*/
/*PROFILE*/
/*=========================================================================================*/
section.profile_container{
  position: relative;
  height: 1000px;
  width: 100%;
}
aside.account_information{
  position: absolute;
  background: linear-gradient(to bottom, rgba(34,34,34,1) 0%,rgba(34,34,34,0.49) 51%,rgba(255,255,255,0) 100%);
  background-color: #046380;
  height: 150px;
  width: 100%;
  padding: 20px;
  top: -20px;
  margin-left: 30px;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
  color: white;
}
aside.account_information h4{
  margin-bottom: 20px;
  border-bottom: #FFFFFF;
}

section.profile_video_player{
  display: inline-block;
  position: absolute;
  top: 12%;
  left: 30%;
}
section.profile_video_player video{
  width: 900px;
  height: 400px;
  margin-left: -30px;
  margin-bottom: 5px;
}
section.profile_video_player h1{
  text-align: center;
  color: white;
}
section.upload_video_button{
  position: absolute;
  right: 75px;
  bottom: 0px;

}
.profile_video_list {
  height: 300px;
  width: 850px;
  padding: 10px;
  overflow: scroll;
}
/*section.profile_video_list {
  background-color: #22222;
  height: 340px;
  width: 850px;
  border: 1px solid #FFFFFF;
  padding: 10px;
  overflow: scroll;
}
section.profile_video_list h1{
  text-align: center;
  margin-bottom: 20px;
  color: white;
}
section.profile_video_list h3{
  display: inline;
  margin-left: 10px;
  cursor: pointer;
  color: white;
}
section.profile_video_list img{
  display:inline-block;
  height:150px;
  width:125px;
  margin: 10px 0;
  cursor: pointer;
}
section.list-item-container{
  border-bottom: 1px solid #FFFFFF;
}*/

/*=========================================================================================*/
/*VOTING*/
/*=========================================================================================*/

section.voting_container{
  
  height: 550px;
  width: 80%;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
  margin: 0px auto;
  overflow: scroll; 

}

section.voting_container h4{
  color: #FFFFFF;
  /*border-bottom: 1px solid #242632;*/
  height: 275px;
  width: 100%;
  text-align: center;
  padding: 20px; 
}
section.vote_contain {
 border-bottom: 3px solid #FFFFFF
}

section.voting_container h3{
  color: #FFFFFF;
  text-align: center;
  padding: 20px; 
}

.vote_title {
  width: 100%;
  height: 150px;
  border-top: 3px solid #FFFFFF;
  z-index: 1;

}
.voting_information{
  display: inline-block;
}
.voting_information h3 h4{
  text-align: center;
}

.vote_title h1 {
  color: white;
  text-align: center;
}

#voting_image {
  height:250px;
  width: 225px;
  margin-left: 80px;
}

@import url(https://fonts.googleapis.com/css?family=Architects+Daughter|Rock+Salt|Bubbler+One);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

 .navbar-brand {
    font-size: 36px !important;
    /*font-family: 'Architects Daughter', cursive;*/
     /*font-family: 'Rock Salt', cursive; */
    /*font-family: 'Bubbler One', sans-serif;*/
    font-family: 'Oswald', sans-serif;
    font-weight: 700;

}

.wrapperFea {
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
}

section.landing_page {
  display: inline-block;
  
}

/*header {
    height: 10%;
    width: 80%;
    margin: 0 auto;
    display: flex;
}
*/


/* HEADER */
.headerWrapper {
    height: 100px;
    width: 80%;
    margin: 0 auto;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
 background-color: tomato;
}

header h1 {
    color: white;
    font-size: 25px;
    padding-top: 20px;
}

.brand {
  flex-grow: 1;
}

.menu {
  flex-grow: 12;
}

.searchBar {
  flex-grow: 1;
}




